asgiref==3.7.2
diploma-frontend @ file:///C:/Users/Rashm/PycharmProjects/python_django_diploma/diploma-frontend/dist/diploma-frontend-0.6.tar.gz
Django==4.2.2
django-filter==23.2
django-phonenumber-field==7.1.0
django-taggit==4.0.0
djangorestframework==3.14.0
Markdown==3.4.3
phonenumbers==8.13.15
Pillow==9.5.0
psycopg2-binary==2.9.6
pytz==2023.3
sqlparse==0.4.4
typing_extensions==4.6.3
tzdata==2023.3
